dados/experimentos.json
layouts/__pycache__/app2.cpython-38.pyc
layouts/__pycache__/app1.cpython-38.pyc
__pycache__/sidebar.cpython-38.pyc
__pycache__/index.cpython-38.pyc
callbacks/__pycache__/callbacksPrecipitacao.cpython-38.pyc
callbacks/__pycache__/callbacksExperimentos.cpython-38.pyc
callbacks/__pycache__/callbacksEstatistica.cpython-38.pyc
callbacks/__pycache__/__init__.cpython-38.pyc
__pycache__/appStyle.cpython-38.pyc
__pycache__/app.cpython-38.pyc
layouts/__pycache__/__init__.cpython-38.pyc
layouts/__pycache__/layoutEstatistica.cpython-38.pyc
layouts/__pycache__/layoutExperimentos.cpython-38.pyc
layouts/__pycache__/layoutPrecipitacao.cpython-38.pyc
dados/experimentos-distancia.json
dados/dataframe-clusters.json
callbacks/__pycache__/callbacksClusters.cpython-38.pyc
layouts/__pycache__/layoutsClusters.cpython-38.pyc
callbacks/__pycache__/callbacksModelos.cpython-38.pyc
callbacks/__pycache__/loadModelFunctions.cpython-38.pyc
dados/X_teste.json
dados/X_treinamento.json
dados/X_validacao.json
dados/y_teste.json
dados/y_treinamento.json
dados/Y_validacao.json
layouts/__pycache__/layoutModelos.cpython-38.pyc
callbacks/__pycache__/callbacksPredicoes.cpython-38.pyc
layouts/__pycache__/layoutsPredicoes.cpython-38.pyc
